<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar </h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" [style.width]="getProgreso1" style="height:10px;" role="progressbar"> <span class="sr-only">85% Complete (success)</span> </div>
                </div>
                <h4 class="card-title">Striped Progress bar 2 </h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" [style.width]="getProgreso2" style="height:10px;" role="progressbar"> <span class="sr-only">85% Complete (success)</span> </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (valor)="progreso1=$event" [valor]="progreso1"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador [buttonClass]="'btn-info'" (valor)="progreso2=$event" [valor]="progreso2"></app-incrementador>
            </div>
        </div>
    </div>
</div>