<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi perfil de usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form p-t-20" [formGroup]="formPerfil" (ngSubmit)="actualizarPerfil()">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" formControlName="nombre" id="exampleInputuname" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" placeholder="Enter email" [readOnly]="usuario.google">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="formPerfil.invalid">
                        <i class="fa fa-save"></i>
                        Guardar Cambios</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen de usuario</h6>
                <div class="text-center">
                    <img *ngIf="!imagenTemporal" [src]="usuario.urlImagen" class="img-avatar" alt="">
                    <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="img-avatar" alt="">
                </div>
                <br>

                <input type="file" (change)="cambiarImagen($event)" name="" id="">
                <br>
                <br>
                <button type="button" [disabled]="!imagenSubir" class="btn btn-success btn-block waves-effect waves-light m-r-10" (click)="subirImagen()">
                    <i class="fa fa-save"></i>
                    Cambiar Imagen</button>

            </div>
        </div>
    </div>
</div>