<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="buttonClass" type="button" (click)="cambioProgreso(-5)">
            <i class="fa fa-minus"></i>
        </button>
    </span>
    <input [ngClass]="{'is-invalid': valorInput > 100 || valorInput < 0}" (ngModelChange)="cambioInput($event)" [ngModel]="progreso" type="number" max="100" min="0" class="form-control" placeholder="Progreso">
    <!-- (ngModelChange)="cambioInput($event)" [ngModel]="progreso" -->
    <span class="input-group-btn">
        <button [ngClass]="buttonClass" type="button" (click)="cambioProgreso(5)">
            
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>