<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img [src]="usuario.urlImagen" alt="user" /><span class="hide-menu">{{usuario.nombre}}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="./perfil" routerLinkActive="active">My Profile </a></li>
                        <li><a href="javascript:void()">My Balance</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li><a routerLink="acount-settings">Account Setting</a></li>
                        <li><a routerLink="/login" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li *ngFor="let item of menuItems"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i [class]="item.clase"></i><span class="hide-menu">{{item.titulo}}<span class="label label-rouded label-themecolor pull-right">{{item.submenu.length}}</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let item of item.submenu"><a [routerLink]="item.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{item.titulo}}</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>