/* You can add global styles to this file, and also import other style files */

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

li .selector {
    cursor: pointer;
}

.img-avatar {
    width: 150px;
    height: 150px;
}